@import "tailwindcss";


@utility container {
    padding-inline: 10px;
    margin-inline: auto;
    center : true;

    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 80px;
    }

    @variant xl {
        padding-inline: 120px;
    }
}

html {
  scroll-behavior: smooth;
}